body{
    background: #000000;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.e-gallery-grid:not(.e-gallery--animated) {
    display: grid;
    grid-gap: var(--vgap) var(--hgap);
    grid-template-columns: repeat(var(--columns),1fr)
}
.slick-prev{
    color: rgb(221, 37, 37);
}